config general 'settings'
    # 启用开关 (1=启用)
    option 'enabled'        '1'
    # 登录 API 地址 (Host + Path)
    option 'login_host'     '172.29.35.27:8088'
    option 'login_path'     '/aaa-auth/api/v1/auth'
    # 您的用户名 (学号)
    option 'username'       '2510250783'
    # 您的密码
    option 'password'       '20070324jry'
    # 固定的 campusCode (请保持不变)
    option 'campus_code'    '07cdfd23373b17c6b337251c22b7ea57'
    # 固定的 operatorSuffix (请保持不变)
    option 'operator_suffix' '@henuyd'
    # 自动登录尝试间隔时间（秒）
    option 'interval'       '60'
    # 验证互联网连通性的目标IP
    option 'ping_target'    'baidu.com'